# ignore ide files
/.vscode/
/.idea/
# ignore build
**/.venv/
**/__pycache__
**/*.egg-info/
**/dist/
**/build/
**/build-*/
**/_deps/
**/cmake-*/
**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/uv.lock
# ignore doc outputs
doxy/**/*
!doxy/index.html
!doxy/doxygen.css